.navbar {
    background-color: dimgray;
    align-content: center;
    position: sticky;
    top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    text-align: center;
}

.okraje {
    border: 2px black !important;
}

.onas {
    color: darkred;
    text-align: left;
    margin-left: 100px;
}

.hrubsie {
    font-weight: bold;
    background-color: gray;
    color: white !important;
}
.stred {
    text-align: center;
    width: auto;

}