.navbar {
    background-color: darkgray;
    align-content: center;
    position: sticky;
    top: 0;
    opacity: 0.6;
}
.navbar:hover {
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    text-align: center;
}

div.okraje {
    border-style: double !important;
    border-width: 2px !important;
    border-color: gray !important;
    margin-top: 2px;
}

.onas {
    color: darkred;
    text-align: left;
    margin-left: 100px;
}

.hrubsie {
    font-weight: bold;
    background-color: gray;
    color: white !important;
}
.stred {
    text-align: center;
    width: content-box;
    margin-top: 100px;
    padding-top: 100px;
}

div.zaujimavsie {
    border-left: 6px solid gray;
}

div.footer {
    background-color: dimgray;
    text-align: center;
    height: 30px;
    opacity: 0.6;
    position: relative;
}

div.footer:hover {
    opacity: 1;
}

button {
    background-color: darkgray !important;
    border: white !important;
    color: black !important;
}

button:hover {
    color: white !important;
}
